.doctorCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding: 20px 50px;
}

.doctorCard .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.doctorCard button {
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.doctorCard .mainButton {
    background-color: green;
    width: 100%;
    border: 1px solid green;
}

.doctorCard .outlineButton {
    border: 1px solid green;
    background-color: transparent;
    color: green;
}