.signup-form {
    width: 90%;
    margin: auto;
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
}

.signup-form .error {
    color: white;
    font-size: large;
    background-color: red;
    padding: 4px 12px;
}

/* singup option button */
.signup-form .btn-signup {
    margin: 8px 0px;

}
 
.signup-form .signup-form-container form{
    display: flex;
    gap: 50px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form .signup-form-container .left-side,
.signup-form .signup-form-container .right-side {
    flex: 1;
}

/* Form label style */
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

/* Form input style */
.signup-form-container input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Buttons style */
.signup-form-container button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Add Specialization button style */
.signup-form-container button[type="button"] {
    margin-left: 10px;
}

/* Specializations list style */
.signup-form-container ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

.signup-form-container .specialities {
    padding: 0px;
    margin: 0px;
    min-height: auto;
}

.signup-form-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

/* Edit and Remove buttons style */
.signup-form-container li button {
    background-color: #ffc107;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Hover effect for Edit and Remove buttons */
.signup-form-container li button:hover {
    background-color: #ffca28;
}

/* Style for option elements */
select#gender option {
    background-color: #fff;
    color: #333;
}

/* Gender selection dropdown style */
select#gender {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.signup-form-container button[type='submit'] {
    width: 100%;
}