.doctor {
    display: flex;
    justify-content: center;
    background-color: #C0C0C0;
}

.container {
    width: auto;
    padding: 30px 50px;
    display: flex;
    gap: 20px;
}

.left {
    flex: 2;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.moreInfo {
    margin-top: 20px;
    align-items: start;
    display: block;
    margin: 0px;
}
.moreInfo ul {
    display: inline-block;
    margin-top: 0px;
}

.moreInfo li {
    display: list-item;
    list-style: circle;
    list-style: disc inside none;
}

.right {
    flex: 1;
    padding: 20px;
}

.right .booking {
    padding: 10px;  
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.right .booking button {
    font-weight: 500;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}